body {
    cursor: cell;
    background-image: url("background.jpg");
}

footer {
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 40%;
}

h1 {
    text-align: center;
    color: chocolate;
}

h3 {
    text-align: center;
    color: crimson;
}

h3:hover {
    font-style: italic;
    font-size: 110%;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

a:hover, a:active {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

a:active {
    color: crimson;
}

ol {
    text-align: center;
}

li {
    list-style-position: inside;
    list-style-type:decimal-leading-zero;
}

.info_class {
    color: darkgreen;
}

.box_class {
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 20px;
    padding-left: 20px;
}

.resources_class {
    text-align: center;
    color: rgb(41, 59, 8);

}