body {
    cursor: cell;
}

h1 {
    text-align: center;
    color: chocolate;
}

h3 {
    text-align: center;
    color: crimson;
}

h3:hover {
    font-style: italic;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

a:hover, a:active {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

a:active {
    color: crimson;
}

ol {
    text-align: center;
}

li {
    list-style-position: inside;
    list-style-type:decimal-leading-zero;
}

.info_class {
    color: darkgreen;
}