* {
    box-sizing: border-box;
    background-color:LavenderBlush;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../img/background.jpg");

}

   

h1 {
    text-align: center;
    color: MediumBlue;
}

.row {
    width: 100%;
}

a {
    text-decoration: none;
    background-image: inherit;
    color:orange;
}

img {
    width: 100px;
    height: 100px;
    position: relative;
    right: 0px;
    float: right;
    border-radius: 10px;
}

img:hover {
    width: 110px;
    height: 110px;
}


p {
    background-color:Aquamarine;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
   
}

.item_title {
    background-image: url("../img/title_background.jpg");
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: 1.5%;
    width: 150px;
    padding: 1px;
    margin-bottom: 0%;
    text-align: center;
}



#author {
    background-color: darksalmon;
}

p#author:hover {
    text-transform: capitalize;
}

#rules {
    background-color: lemonchiffon;
}

#rules:hover{
    text-transform: capitalize;
}

#repository {
    background-color:rosybrown;
}

#repository:hover{
    text-transform: capitalize;
}


.item_description {
    margin-top: 0%;
    height: 160px;
    background-image: url("../img/item_background.jpg");
}



/*Large devices*/

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float:left;
    
    }
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/* Medium devices */

@media (min-width: 768px) and (max-width: 991px) {

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float:left;
    
    }
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .p-md-12 {
        width: 98%;
        margin-left: 1%;
    }
}
